<div class="container">
<br>
 <ul class="pagination ma">
   <li class="page-item page-link">
     <%= will_paginate%>
   </li>
 </ul>
 <h1 align="center">All users</h1>

 <%= render 'user', obj:@users %>

 <ul class="pagination ma">
   <li class="page-item page-link">
     <%= will_paginate%>
   </li>
 </ul>

</div>